<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Predictor system</title>
    <link rel="stylesheet" href="{{url_for('static' , filename='css/style.css')}} ">
</head>
<body>
    <div class="top_container">
        <div class = "top_cloud"> <img src="{{url_for('static' , filename='cloud.png')}}" alt=""> </div>
        <h1>Predictor System </h1>
        <div class="top_container_para"><p>The world as we see it....</p></div>
        <div class = "bottom_cloud"><img src="{{url_for('static' , filename='cloud.png')}}" alt=""></div>
    </div>

<p> Please enter CSV file</p>

</body>
</html>